/**
 * @name Bash
 * @description This the original owner, A user, quit making the theme. This is only a updated version of the theme. !!Dark mode is required!!
 * @author TwentyE1ght#8153
 * @version 1.1
 * @source https://github.com/TwentyE1ght/bash
*/

@import " https://twentye1ght.github.io/bash/base.css";
@import "https://nyri4.github.io/Discolored/main.css"; /* Discolored Addon By snapper#0001 & Nyria#4198 */

/*** User vars ***/
:root{
    --bg: url(""); /*Put inside the "" your own image URL*/
    --bgblackness: #00000055;
    --bgblur: ; /* If you want the bg blur to be the same in the settings remove --bgblur-settings variable */
    --bgblur-settings: 2em;
    --bgopacity: 1;
    --color: #b24848;
    --coloralt: #24192a;
    --scrollbar-color: #fff2;
}
